# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wb575476\OneDrive - WBG\Documents\10_DECAT Tasks\WB NLP\Github\PRWP_NLP_analytics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
